#slide-container {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
}
#image-container {
  width: 2400px;
  height: 600px;
  position: relative;
  transition: left 2s;
}
#slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
  max-height: 600px;
}
#button-container {
  top: -100px;
  margin-top: -50px;
  position: relative;
}
#slider-button {
  display: inline-block;
  height: 5px;
  width: 15px;
  background-color: white;
  margin-right: 0.5%;
  border: solid black 1px;
}
#slider-image-1:target ~ #image-container {
  left: 0px;
}
#slider-image-2:target ~ #image-container {
  left: -800px;
}
#slider-image-3:target ~ #image-container {
  left: -1600px;
}

span {
  display: none;
}

@media (max-width: 390px) {
  #slide-container {
    width: 350px;
    height: 300px;
  }
  #slider-image-2:target ~ #image-container {
    left: -350px;
  }
  #slider-image-3:target ~ #image-container {
    left: -700px;
  }
  #slider-button {
    display: inline-block;
    background-color: white;
    border: solid black 1px;
    margin-right: 1%;
  }
  #slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    max-height: 600px;
  }
  #button-container {
    top: -100px;
    position: relative;
    margin-top: -75%;
    top: -151px;
  }
}
